<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.scm.core.mapper.stockFront.ShopSaleDetailMapper">

    <resultMap id="BaseResultMap" type="com.lyf.scm.core.domain.entity.stockFront.ShopSaleDetailE">
        <id column="id" property="id"/>
        <result column="record_code" property="recordCode"/>
        <result column="front_record_id" property="frontRecordId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sku_qty" property="skuQty"/>
        <result column="unit" property="unit"/>
        <result column="unit_code" property="unitCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="is_available" property="isAvailable"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version_no" property="versionNo"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="app_id" property="appId"/>
    </resultMap>

    <sql id="Base_Column_List">
		  id, record_code, front_record_id, sku_id,sku_code, sku_qty, unit, unit_code, create_time, update_time,
		  creator, modifier, is_available, is_deleted, version_no, tenant_id, app_id
    </sql>

    <!--保存 -->
    <!--insert前置单据详情集合（字段：record_code，front_record_id，sku_id，sku_qty） -->
    <insert id="saveFrSaleRecordDetails" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into sc_fr_shop_sale_detail(record_code,front_record_id,sku_id,sku_code,sku_qty,unit,unit_code) values
        <foreach collection="saleDetailList" item="frd" separator="," close=";">
            (#{frd.recordCode},#{frd.frontRecordId},#{frd.skuId},#{frd.skuCode},#{frd.skuQty},#{frd.unit},#{frd.unitCode})
        </foreach>
    </insert>
</mapper>