<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.scm.core.mapper.stockFront.ShopSaleMapper">

    <resultMap id="BaseResultMap" type="com.lyf.scm.core.domain.entity.stockFront.ShopSaleE">
        <id column="id" property="id"/>
        <result column="record_code" property="recordCode"/>
        <result column="channel_code" property="channelCode"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="record_type" property="recordType"/>
        <result column="record_status" property="recordStatus"/>
        <result column="record_status_reason" property="recordStatusReason"/>
        <result column="real_warehouse_id" property="realWarehouseId"/>
        <result column="mobile" property="mobile"/>
        <result column="out_record_code" property="outRecordCode"/>
        <result column="out_create_time" property="outCreateTime"/>
        <result column="user_code" property="userCode"/>
        <result column="pay_time" property="payTime"/>
        <result column="shop_code" property="shopCode"/>
        <result column="trans_type" property="transType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="is_available" property="isAvailable"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="app_id" property="appId"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,record_code,channel_code,merchant_id,record_type,record_status,record_status_reason
		,real_warehouse_id,mobile,channel_code,expect_receive_date_start,expect_receive_date_end
		,out_record_code,out_create_time,user_code,pay_time,shop_code,trans_type,
		create_time,update_time,creator,modifier,is_available,is_deleted,tenant_id,app_id
    </sql>

    <!--查询： outRecordCode-->
    <select id="selectFrSaleRecordByOutRecordCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sc_fr_shop_sale
        where is_deleted = 0
        and is_available=1
        and out_record_code = #{outRecordCode}
    </select>

    <select id="selectFrSaleRecordByOutRecordCodeList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sc_fr_shop_sale
        where is_deleted = 0 and is_available=1
        and out_record_code in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--保存 -->
    <insert id="saveFrSaleRecord" parameterType="com.lyf.scm.core.domain.entity.stockFront.ShopSaleE"
            useGeneratedKeys="true" keyProperty="id">
		insert into sc_fr_shop_sale(record_code,channel_code,merchant_id,record_type,record_status,record_status_reason,
		real_warehouse_id,factory_code,real_warehouse_code,mobile,out_record_code,out_create_time,user_code,
		shop_code,trans_type,expect_receive_date_start,expect_receive_date_end)
		values(#{recordCode},#{channelCode},#{merchantId},#{recordType},#{recordStatus},#{recordStatusReason},
		#{realWarehouseId},#{factoryCode},#{realWarehouseCode},#{mobile},#{outRecordCode},#{outCreateTime},#{userCode},
		#{shopCode},#{transType},#{expectReceiveDateStart},#{expectReceiveDateEnd})
	</insert>

    <!--更新前置SO单状态为已取消-->
    <update id="updateToCanceled">
        update `sc_fr_shop_sale` set `record_status` = #{afterRecordStatus} where `id` = #{id} and `is_deleted` = 0 and `is_available` = 1
    </update>

    <select id="batchQueryShopSalesByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sc_fr_shop_sale
        where is_deleted = 0 and is_available = 1 and id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>